#exporter{
  text-align: left;
}
.small{
  margin-top: 10px;
  font: 10px monospace;
}



.sentiment-res{
      font: 35px Helvetica,Arial,sans-serif;
      text-align: center;
      margin-top: 20px;
}

.sentiment-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }


.big-icon{
      font-size: 90px;
}

.tcenter{
      text-align: center;
      margin-top: 40px;
}

#map,#emotions-map{
	height: 400px;
}

#emotions-map-legend{
	margin-bottom: 20px;
	overflow: hidden;
}

.legenditemholder{
	overflow: hidden;
	float: left;
	margin: 5px;
}

.legenditemcolor{
	width: 30px;
	height: 10px;
	float: left;
}

.legenditemlabel{
	font: 10px Helvatica,Arial,sans-serif;
	margin-right: 5px;
	margin-left: 5px;
	line-height: 10px;
	float: left;
}

.topuserstable{
	width:100%;
	border-spacing : 5px;
}

#topics{
	height: 800px;
}


#topics .tccircle{
  fill: steelblue;
  stroke: none;
}

#topics .tctext{
  fill: #FFFFFF;
  stroke: none;
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

.node {
  stroke: none;
  fill: rgba(60,70,200,0.7);
}

.link {
  fill: none;
  stroke: rgba(90,90,100,0.6);
}

.nodetext{
  stroke: none;
  fill: rgba(20,10,40,1);
  font: 8px Helvetica;
}