#results .tccircle{
  fill: steelblue;
  stroke: none;
}

#results .tctext{
  fill: #FFFFFF;
  stroke: none;
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

#exporter{
  text-align: left;
}
.small{
  margin-top: 10px;
  font: 10px monospace;
}