#results path { 
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

#results .axis path,
#results .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

#exporter{
  text-align: left;
}
.small{
  margin-top: 10px;
  font: 10px monospace;
}